<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ribbon.mapper.PostMapper">

    <!-- boardwrite 테이블 전체 컬럼 -->
    <sql id="postColumns">
        id
        , userid
        , title
        , description
        , img
        , writedate
        , nickname
        , boardid
        , likedcount
        , commentcount
    </sql>

    <!-- groupwrite 테이블 전체 컬럼 -->
    <sql id="postGroupColumns">
        id
        , region
        , title
        , line
        , description
        , peoplenum
        , gender
        , minage
        , titleimage
        , userid
        , maxage
        , writedate
        , peoplenownum
        , nickname
        , groupid
        , once
        , commentcount
    </sql>
    <!-- individualwrite 테이블 전체 컬럼 -->
    <sql id="postIndiColumns">
        id
        , region
        , meetdate
        , title
        , description
        , gender
        , userid
        , writedate
        , maxage
        , minage
        , nickname
        , individualid
        , likedcount
        , commentcount
    </sql>


    <!-- usedwrite 테이블 전체 컬럼 -->
    <sql id="postUsedColumns">
        id
        , region
        , title
        , description
        , usedimage1
        , price
        , userid
        , writedate
        , nickname
        , usedid
        , usedimage2
        , usedimage3
        , usedimage4
        , usedimage5
        , likedcount
        , commentcount
    </sql>

    <!-- user 테이블 전체 컬럼 -->
    <sql id="postUserColumns">
        userid
        , username
        , sns
        , email
        , nickname
        , mobile
        , createdate
        , modifydate
        , birth
        , profileimage
        , gender
        , bestcategory
        , shortinfo
            ,youtube
    </sql>
    <!-- liked 테이블 전체 컬럼 -->
    <sql id="postLikedColumns">
        categoryid
        , userid
        , inherentid
    </sql>
    <!-- comments 테이블 전체 컬럼 -->
    <sql id="postCommentsColumns">
        description
        , userid
        , nickname
        , categoryid
        , inherentid
        , writedate
        , commentsid
        , isrecomment
    </sql>

    <!-- groupcomments 테이블 전체 컬럼 -->
    <sql id="postGroupCommentsColumns">
        description
        , userid
        , nickname
        , inherentid
        , writedate
        , groupcommentsid
        , isrecomment
    </sql>

    <!-- individualcomments 테이블 전체 컬럼 -->
    <sql id="postIndividualCommentsColumns">
        description
        , userid
        , nickname
        , inherentid
        , writedate
        , individualcommentsid
        , isrecomment
    </sql>

    <!-- usedcomments 테이블 전체 컬럼 -->
    <sql id="postUsedCommentsColumns">
        description
        , userid
        , nickname
        , inherentid
        , writedate
        , usedcommentsid
        , isrecomment
    </sql>

    <!-- reply 테이블 전체 컬럼 -->
    <sql id="postReplyColumns">
        description
        , writedate
        , userid
        , nickname
        , categoryid
        , inherentid
        , replyid
        , inherentcommentsid
        , isrecomment

    </sql>

    <!-- groupreply 테이블 전체 컬럼 -->
    <sql id="postGroupReplyColumns">
        description
        , writedate
        , userid
        , nickname
        , inherentid
        , groupreplyid
        , inherentcommentsid
        , isrecomment
    </sql>

    <!-- individualreply 테이블 전체 컬럼 -->
    <sql id="postIndividualReplyColumns">
        description
        , writedate
        , userid
        , nickname
        , inherentid
        , individualreplyid
        , inherentcommentsid
        , isrecomment
    </sql>

    <!-- usedreply 테이블 전체 컬럼 -->
    <sql id="postUsedReplyColumns">
        description
        , writedate
        , userid
        , nickname
        , inherentid
        , usedreplyid
        , inherentcommentsid
        , isrecomment
    </sql>



    <!-- 커뮤니티 게시글 저장 -->
    <insert id="save" parameterType="com.project.ribbon.domain.post.PostRequest"
    useGeneratedKeys="true" keyProperty="boardid">
        INSERT INTO boardwrite (
        <include refid="postColumns" />
        ) VALUES (
        #{id}
        , #{userid}
        , #{title}
        , #{description}
        , #{img}
        , #{writedate}
        , #{nickname}
        , #{boardid}
        , 0
        , 0
        )
    </insert>


    <!-- 커뮤니티 게시글 수정 -->
    <update id="update" parameterType="com.project.ribbon.domain.post.PostRequest">
        UPDATE boardwrite
        SET
            title = #{title}
          , description = #{description}
          , img = #{img}
          , writedate = #{writedate}
          , profileimage = #{profileimage}
        WHERE
            boardid = #{boardid}
    </update>




    <!-- 커뮤니티 게시글  조회 -->
    <select id="findAll1" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
        id,boardwrite.userid,title,description,img,writedate,user.nickname,
        boardid,likedcount,commentcount,profileimage
        FROM boardwrite
        LEFT JOIN user
        ON user.userid=boardwrite.userid
        WHERE id = 1
    </select>
    <select id="findAll2" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE id = 2
    </select>
    <select id="findAll3" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE id = 3
    </select>
    <select id="findAll4" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE id = 4
    </select>
    <select id="findAll5" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE id = 5
    </select>
    <select id="findAll6" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE id = 6
    </select>
    <select id="findAll7" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE id = 7
    </select>
    <select id="findAll8" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE id = 8
    </select>
    <select id="findAll9" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE id = 9
    </select>
    <select id="findAll10" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE id = 10
    </select>
    <!-- 커뮤니티 게시글 삭제 -->
    <delete id="deleteById" >
        DELETE
        FROM
        boardwrite
        where boardid = #{boardid}
    </delete>

    <!-- 단체 게시글 조회  -->
    <select id="findGroupAll" resultType="com.project.ribbon.domain.post.PostGroupResponse">
        SELECT
        <include refid="postGroupColumns" />
        FROM
            groupwrite
    </select>

    <!-- 단체 게시글 저장 -->
    <insert id="saveGroup" parameterType="com.project.ribbon.domain.post.PostGroupRequest"
            useGeneratedKeys="true" keyProperty="groupid">
        INSERT INTO groupwrite (
        <include refid="postGroupColumns" />
        ) VALUES (
        #{id}
        , #{region}
        , #{title}
        , #{line}
        , #{description}
        , #{peoplenum}
        , #{gender}
        , #{minage}
        , #{titleimage}
        , #{userid}
        , #{maxage}
        , #{writedate}
        , #{peoplenownum}
        , #{nickname}
        , #{groupid}
        , #{once}
        , 0
        )
    </insert>

    <!-- 단체 게시글 수정 -->
    <update id="updateGroup" parameterType="com.project.ribbon.domain.post.PostGroupRequest">
        UPDATE groupwrite
        SET
            region = #{region}
          , title = #{title}
          , line = #{line}
          , description = #{description}
          , peoplenum = #{peoplenum}
          , minage = #{minage}
          , titleimage = #{titleimage}
          , maxage = #{maxage}
          , writedate = #{writedate}
          , peoplenownum = #{peoplenownum}
          , once = #{once}
        WHERE
            groupid = #{groupid}
    </update>

    <!-- 단체 게시글 삭제 -->
    <delete id="deleteByGroupId" >
        DELETE
        FROM
            groupwrite
        WHERE groupid = #{groupid}
    </delete>


    <!-- 개인 게시글 조회  -->
    <select id="findIndiAll" resultType="com.project.ribbon.domain.post.PostIndiResponse">
        SELECT
        id,region,meetdate,title,description,individualwrite.gender,
        individualwrite.userid,writedate,maxage,minage,user.nickname,
        individualid,likedcount,commentcount,profileimage
        FROM
        individualwrite
        LEFT JOIN user
        ON user.userid = individualwrite.userid

    </select>

    <!-- 개인 게시글 저장 -->
    <insert id="saveIndi" parameterType="com.project.ribbon.domain.post.PostIndiRequest"
            useGeneratedKeys="true" keyProperty="individualid">
        INSERT INTO individualwrite (
        <include refid="postIndiColumns" />
        ) VALUES (
        #{id}
        , #{region}
        , #{meetdate}
        , #{title}
        , #{description}
        , #{gender}
        , #{userid}
        , #{writedate}
        , #{maxage}
        , #{minage}
        , #{nickname}
        , #{individualid}
        , 0
        , 0
        )
    </insert>

    <!-- 개인 게시글 수정 -->
    <update id="updateIndi" parameterType="com.project.ribbon.domain.post.PostIndiRequest">
        UPDATE individualwrite
        SET
            region = #{region}
          , meetdate = #{meetdate}
          , title = #{title}
          , description = #{description}
          , writedate = #{writedate}
          , maxage = #{maxage}
          , minage = #{minage}
        WHERE
            individualid = #{individualid}
    </update>


    <!-- 개인 게시글 삭제 -->
    <delete id="deleteByIndiId" >
        DELETE
        FROM
            individualwrite
        WHERE individualid = #{individualid}
    </delete>

    <!-- 중고 게시글 조회  -->
    <select id="findUsedAll" resultType="com.project.ribbon.domain.post.PostUsedResponse">
        SELECT
        <include refid="postUsedColumns" />
        FROM
        usedwrite
    </select>

    <!-- 중고 게시글 저장 -->
    <insert id="saveUsed" parameterType="com.project.ribbon.domain.post.PostUsedRequest"
            useGeneratedKeys="true" keyProperty="usedid">
        INSERT INTO usedwrite (
        <include refid="postUsedColumns" />
        ) VALUES (
        #{id}
        , #{region}
        , #{title}
        , #{description}
        , #{usedimage1}
        , #{price}
        , #{userid}
        , #{writedate}
        , #{nickname}
        , #{usedid}
        , #{usedimage2}
        , #{usedimage3}
        , #{usedimage4}
        , #{usedimage5}
        , 0
        , 0
        )
    </insert>

    <!-- 중고 게시글 수정 -->
    <update id="updateUsed" parameterType="com.project.ribbon.domain.post.PostUsedRequest">
        UPDATE usedwrite
        SET
            region = #{region}
          , title = #{title}
          , description = #{description}
          , usedimage1 = #{usedimage1}
          , price = #{price}
          , writedate = #{writedate}
          , usedimage2 = #{usedimage2}
          , usedimage3 = #{usedimage3}
          , usedimage4 = #{usedimage4}
          , usedimage5 = #{usedimage5}
        WHERE
            usedid = #{usedid}
    </update>

    <!-- 중고 게시글 삭제 -->
    <delete id="deleteByUsedId" >
        DELETE
        FROM
            usedwrite
        where usedid = #{usedid}
    </delete>

    <!-- 유저 정보 조회  -->
    <select id="findUserAll" resultType="com.project.ribbon.domain.post.PostUserResponse">
        SELECT
        userid
        FROM
        user ORDER BY userid DESC LIMIT 1;
    </select>

    <!-- 유저 가입 -->
    <insert id="saveUser" parameterType="com.project.ribbon.domain.post.PostUserRequest"
            useGeneratedKeys="true" keyProperty="userid">
        INSERT INTO user (
        <include refid="postUserColumns" />
        ) VALUES (
        #{userid}
        , #{username}
        , #{sns}
        , #{email}
        , #{nickname}
        , #{mobile}
        , #{createdate}
        , #{modifydate}
        , #{birth}
        , #{profileimage}
        , #{gender}
        , #{bestcategory}
        , #{shortinfo}
        , #{youtube}
        )

    </insert>

    <!-- 유저 마이페이지 수정 -->
    <update id="updateUser" parameterType="com.project.ribbon.domain.post.PostUserRequest">
        UPDATE user
        SET
            sns = #{sns}
          , nickname = #{nickname}
          , profileimage = #{profileimage}
          , modifyDate = #{modifydate}
          , bestcategory = #{bestcategory}
          , shortinfo = #{shortinfo}
            , birth = #{birth}
            , youtube = #{youtube}

        WHERE
            userid = #{userid}
    </update>



    <!-- 유저 정보 삭제 -->
    <delete id="deleteByUserId" >
        DELETE
        FROM
            user
        WHERE userid = #{userid}
    </delete>


    <!-- 실시간 인기글 -->
    <select id="findAll11" resultType="com.project.ribbon.domain.post.PostResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE
            likedcount
                = (SELECT max(likedcount) FROM boardwrite)
        ORDER BY
            boardid
            DESC
             limit 1
    </select>


    <!-- 좋아요 삽입 -->
    <insert id="saveLiked" parameterType="com.project.ribbon.domain.post.PostLikedRequest"
            >
        INSERT INTO liked (
        <include refid="postLikedColumns" />
        ) VALUES (
        #{categoryid}
        , #{userid}
        , #{inherentid}
        )

    </insert>


    <!-- 좋아요 갯수 카운트 +1 -->
    <update id="updateLiked" parameterType="com.project.ribbon.domain.post.PostLikedRequest">

        UPDATE boardwrite SET likedcount = likedcount + 1 WHERE boardid = #{inherentid}

    </update>
    <!-- 좋아요 갯수 카운트 -1 -->
    <update id="updateDeleteLiked" parameterType="com.project.ribbon.domain.post.PostLikedRequest">

        UPDATE boardwrite SET likedcount = likedcount - 1 WHERE boardid = #{inherentid}

    </update>


    <!-- 좋아요 삭제 -->
    <delete id="deleteByLikedId" >
        DELETE
        FROM
            liked
        WHERE categoryid = #{categoryid}
        AND userid = #{userid}
        AND inherentid = #{inherentid}
    </delete>


    <!-- 개인 좋아요 삽입 -->
    <insert id="saveIndividualLiked" parameterType="com.project.ribbon.domain.post.PostIndividualLikedRequest"
    >
        INSERT INTO individualliked (
        <include refid="postLikedColumns" />
        ) VALUES (
        #{categoryid}
        , #{userid}
        , #{inherentid}
        )

    </insert>


    <!-- 개인 좋아요 갯수 카운트 +1 -->
    <update id="updateIndividualLiked" parameterType="com.project.ribbon.domain.post.PostIndividualLikedRequest">

        UPDATE individualwrite SET likedcount = likedcount + 1 WHERE individualid = #{inherentid}

    </update>
    <!-- 개인 좋아요 갯수 카운트 -1 -->
    <update id="updateDeleteIndividualLiked" parameterType="com.project.ribbon.domain.post.PostIndividualLikedRequest">

        UPDATE individualwrite SET likedcount = likedcount - 1 WHERE individualid = #{inherentid}

    </update>

    <!-- 개인 좋아요 삭제 -->
    <delete id="deleteByIndividualLikedId" >
        DELETE
        FROM
            individualliked
        WHERE categoryid = #{categoryid}
          AND userid = #{userid}
          AND inherentid = #{inherentid}
    </delete>


    <!-- 중고 좋아요 삽입 -->
    <insert id="saveUsedLiked" parameterType="com.project.ribbon.domain.post.PostUsedLikedRequest"
    >
        INSERT INTO usedliked (
        <include refid="postLikedColumns" />
        ) VALUES (
        #{categoryid}
        , #{userid}
        , #{inherentid}
        )
    </insert>


    <!-- 중고 좋아요 갯수 카운트 +1 -->
    <update id="updateUsedLiked" parameterType="com.project.ribbon.domain.post.PostUsedLikedRequest">

        UPDATE usedwrite SET likedcount = likedcount + 1 WHERE usedid = #{inherentid}

    </update>
    <!-- 중고 좋아요 갯수 카운트 -1 -->
    <update id="updateDeleteUsedLiked" parameterType="com.project.ribbon.domain.post.PostUsedLikedRequest">

        UPDATE usedwrite SET likedcount = likedcount - 1 WHERE usedid = #{inherentid}

    </update>


    <!-- 중고 좋아요 삭제 -->
    <delete id="deleteByUsedLikedId" >
        DELETE
        FROM
            usedliked
        WHERE categoryid = #{categoryid}
          AND userid = #{userid}
          AND inherentid = #{inherentid}
    </delete>


    <!-- 댓글 작성자 아이디 조회  -->
    <select id="findCommentsId" resultType="com.project.ribbon.domain.post.PostCommentsIdResponse">
        SELECT
        commentsid
        FROM
            comments
        ORDER BY commentsid DESC limit 1
    </select>


    <!-- 댓글 정보 조회  -->
    <select id="findByInherentId" resultType="com.project.ribbon.domain.post.PostCommentsResponse">
        SELECT
            description,writedate,comments.userid,user.nickname,categoryid,
            inherentid,commentsid,isrecomment,
            profileimage
        FROM comments
        LEFT JOIN user
        ON user.userid = comments.userid
         WHERE inherentid = #{inherentid}
    </select>


    <!-- 댓글 작성 -->
    <insert id="saveComments" parameterType="com.project.ribbon.domain.post.PostCommentsRequest"
            useGeneratedKeys="true" keyProperty="commentsid">
        INSERT INTO comments (
        <include refid="postCommentsColumns" />
        ) VALUES (
        #{description}
        , #{userid}
        , #{nickname}
        , #{categoryid}
        , #{inherentid}
        , #{writedate}
        , #{commentsid}
        , 2
        )

    </insert>


    <!-- 댓글 갯수 카운트 +1 -->
    <update id="updateCommentsCount" parameterType="com.project.ribbon.domain.post.PostCommentsRequest">

        UPDATE boardwrite SET commentcount = commentcount + 1 WHERE boardid = #{inherentid}

    </update>
    <!-- 댓글 갯수 카운트 -1 -->
    <update id="updateDeleteCommentsCount" parameterType="com.project.ribbon.domain.post.PostCommentsRequest">

        UPDATE boardwrite SET commentcount = commentcount - 1 WHERE boardid = #{inherentid}

    </update>


    <!-- 댓글 수정 -->
    <update id="updateComments" parameterType="com.project.ribbon.domain.post.PostCommentsRequest">
        UPDATE comments
        SET
            description = #{description}
          , nickname = #{nickname}
          , writedate = #{writedate}
        WHERE
            commentsid = #{commentsid}
    </update>


    <!-- 댓글 정보 삭제 -->
    <delete id="deleteComments" >
        DELETE
        FROM
            comments
        WHERE commentsid = #{commentsid}
    </delete>


    <!-- 답글 작성자 아이디 조회  -->
    <select id="findReplyId" resultType="com.project.ribbon.domain.post.PostReplyIdResponse">
        SELECT
            replyid
        FROM
            reply
        ORDER BY replyid DESC limit 1
    </select>


    <!-- 답글 정보 조회  -->
    <select id="findByReplyInherentId" resultType="com.project.ribbon.domain.post.PostReplyResponse">
        SELECT
            description,writedate,reply.userid,user.nickname,categoryid,
            inherentid,replyid,inherentcommentsid,isrecomment,
            profileimage
        FROM reply
        LEFT JOIN user
        ON user.userid = reply.userid
        WHERE inherentid = #{inherentid}

    </select>


    <!-- 답글 작성 -->
    <insert id="saveReply" parameterType="com.project.ribbon.domain.post.PostReplyRequest"
            useGeneratedKeys="true" keyProperty="replyid">
        INSERT INTO reply (
        <include refid="postReplyColumns" />
        ) VALUES (
        #{description}
        , #{writedate}
        , #{userid}
        , #{nickname}
        , #{categoryid}
        , #{inherentid}
        , #{replyid}
        , #{inherentcommentsid}
        , 1
        )

    </insert>


    <!-- 답글 갯수 카운트 +1 -->
    <update id="updateReplyCount" parameterType="com.project.ribbon.domain.post.PostReplyRequest">

        UPDATE boardwrite SET commentcount = commentcount + 1 WHERE boardid = #{inherentid}

    </update>
    <!-- 답글 갯수 카운트 -1 -->
    <update id="updateDeleteReplyCount" parameterType="com.project.ribbon.domain.post.PostReplyRequest">

        UPDATE boardwrite SET commentcount = commentcount - 1 WHERE boardid = #{inherentid}

    </update>


    <!-- 답글 수정 -->
    <update id="updateReply" parameterType="com.project.ribbon.domain.post.PostReplyRequest">
        UPDATE reply
        SET
            description = #{description}
          , nickname = #{nickname}
          , writedate = #{writedate}
        WHERE
            reply = #{replyid}
    </update>



    <!-- 답글 정보 삭제 -->
    <delete id="deleteReply" >
        DELETE
        FROM
            reply
        WHERE replyid = #{replyid}
    </delete>


    <!-- 단체 댓글 작성자 아이디 조회  -->
    <select id="findGroupCommentsId" resultType="com.project.ribbon.domain.post.PostGroupCommentsIdResponse">
        SELECT
            groupcommentsid
        FROM
            groupcomments
        ORDER BY groupcommentsid DESC limit 1
    </select>


    <!-- 단체 댓글 정보 조회  -->
    <select id="findByGroupInherentId" resultType="com.project.ribbon.domain.post.PostGroupCommentsResponse">
        SELECT
            description,groupcomments.userid,user.nickname,inherentid,
            writedate,groupcommentsid,isrecomment,profileimage
        FROM groupcomments
        LEFT JOIN user
        ON user.userid = groupcomments.userid
        WHERE inherentid = #{inherentid}
    </select>


    <!-- 단체 댓글 작성 -->
    <insert id="saveGroupComments" parameterType="com.project.ribbon.domain.post.PostGroupCommentsRequest"
            useGeneratedKeys="true" keyProperty="groupcommentsid">
        INSERT INTO groupcomments (
        <include refid="postGroupCommentsColumns" />
        ) VALUES (
        #{description}
        , #{userid}
        , #{nickname}
        , #{inherentid}
        , #{writedate}
        , #{commentsid}
        , 2
        )

    </insert>


    <!-- 단체 댓글 갯수 카운트 +1 -->
    <update id="updateGroupCommentsCount" parameterType="com.project.ribbon.domain.post.PostGroupCommentsRequest">

        UPDATE groupwrite SET commentcount = commentcount + 1 WHERE groupid = #{inherentid}

    </update>
    <!-- 단체 댓글 갯수 카운트 -1 -->
    <update id="updateDeleteGroupCommentsCount" parameterType="com.project.ribbon.domain.post.PostGroupCommentsRequest">

        UPDATE groupwrite SET commentcount = commentcount - 1 WHERE groupid = #{inherentid}

    </update>


    <!-- 단체 댓글 수정 -->
    <update id="updateGroupComments" parameterType="com.project.ribbon.domain.post.PostGroupCommentsRequest">
        UPDATE groupcomments
        SET
            description = #{description}
          , nickname = #{nickname}
          , writedate = #{writedate}
        WHERE
            groupcommentsid = #{groupcommentsid}
    </update>


    <!-- 단체 댓글 정보 삭제 -->
    <delete id="deleteGroupComments" >
        DELETE
        FROM
            groupcomments
        WHERE groupcommentsid = #{groupcommentsid}
    </delete>


    <!-- 단체 답글 작성자 아이디 조회  -->
    <select id="findGroupReplyId" resultType="com.project.ribbon.domain.post.PostGroupReplyIdResponse">
        SELECT
            groupreplyid
        FROM
            groupreply
        ORDER BY groupreplyid DESC limit 1
    </select>

    <!-- 단체 답글 정보 조회  -->
    <select id="findByGroupReplyInherentId" resultType="com.project.ribbon.domain.post.PostGroupReplyResponse">
        SELECT
            description,writedate,groupreply.userid,user.nickname,
            inherentid,groupreplyid,inherentcommentsid,isrecomment,
            profileimage
        FROM groupreply
        LEFT JOIN user
        ON uesr.userid = groupreply.userid
        WHERE inherentid = #{inherentid}
    </select>

    <!-- 단체 답글 작성 -->
    <insert id="saveGroupReply" parameterType="com.project.ribbon.domain.post.PostGroupReplyRequest"
            useGeneratedKeys="true" keyProperty="groupreplyid">
        INSERT INTO groupreply (
        <include refid="postGroupReplyColumns" />
        ) VALUES (
        #{description}
        , #{writedate}
        , #{userid}
        , #{nickname}
        , #{inherentid}
        , #{groupreplyid}
        , #{inherentcommentsid}
        , 1
        )

    </insert>

    <!-- 단체 답글 갯수 카운트 +1 -->
    <update id="updateGroupReplyCount" parameterType="com.project.ribbon.domain.post.PostGroupReplyRequest">

        UPDATE groupwrite SET commentcount = commentcount + 1 WHERE groupid = #{inherentid}

    </update>
    <!-- 단체 답글 갯수 카운트 -1 -->
    <update id="updateDeleteGroupReplyCount" parameterType="com.project.ribbon.domain.post.PostGroupReplyRequest">

        UPDATE groupwrite SET commentcount = commentcount - 1 WHERE groupid = #{inherentid}

    </update>

    <!-- 단체 답글 수정 -->
    <update id="updateGroupReply" parameterType="com.project.ribbon.domain.post.PostGroupReplyRequest">
        UPDATE groupreply
        SET
            description = #{description}
          , nickname = #{nickname}
          , writedate = #{writedate}
        WHERE
            groupreply = #{groupreplyid}
    </update>



    <!-- 단체 답글 정보 삭제 -->
    <delete id="deleteGroupReply" >
        DELETE
        FROM
            groupreply
        WHERE groupreplyid = #{groupreplyid}
    </delete>


    <!-- 개인 댓글 작성자 아이디 조회  -->
    <select id="findIndiCommentsId" resultType="com.project.ribbon.domain.post.PostIndiCommentsIdResponse">
        SELECT
            individualcommentsid
        FROM
            individualcomments
        ORDER BY individualcommentsid DESC limit 1
    </select>



    <!-- 개인 댓글 정보 조회  -->
    <select id="findByIndiInherentId" resultType="com.project.ribbon.domain.post.PostIndiCommentsResponse">
        SELECT
            description,individualcomments.userid,user.nickname,inherentid,
            writedate,individualcommentsid,isrecomment,profileimage
        FROM individualcomments
        LEFT JOIN user
        ON user.userid = individualcomments.userid
        WHERE inherentid = #{inherentid}
    </select>


    <!-- 개인 댓글 작성 -->
    <insert id="saveIndiComments" parameterType="com.project.ribbon.domain.post.PostIndiCommentsRequest"
            useGeneratedKeys="true" keyProperty="individualcommentsid">
        INSERT INTO individualcomments (
        <include refid="postIndividualCommentsColumns" />
        ) VALUES (
        #{description}
        , #{userid}
        , #{nickname}
        , #{inherentid}
        , #{writedate}
        , #{commentsid}
        , 2
        )

    </insert>

    <!-- 개인 댓글 갯수 카운트 +1 -->
    <update id="updateIndiCommentsCount" parameterType="com.project.ribbon.domain.post.PostIndiCommentsRequest">

        UPDATE individualwrite SET commentcount = commentcount + 1 WHERE individualid = #{inherentid}

    </update>
    <!-- 개인 댓글 갯수 카운트 -1 -->
    <update id="updateDeleteIndiCommentsCount" parameterType="com.project.ribbon.domain.post.PostIndiCommentsRequest">

        UPDATE individualwrite SET commentcount = commentcount - 1 WHERE individualid = #{inherentid}

    </update>

    <!-- 개인 댓글 수정 -->
    <update id="updateIndiComments" parameterType="com.project.ribbon.domain.post.PostIndiCommentsRequest">
        UPDATE individualcomments
        SET
            description = #{description}
          , nickname = #{nickname}
          , writedate = #{writedate}
        WHERE
            individualcommentsid = #{individualcommentsid}
    </update>


    <!-- 개인 댓글 정보 삭제 -->
    <delete id="deleteIndiComments" >
        DELETE
        FROM
            individualcomments
        WHERE individualcommentsid = #{individualcommentsid}
    </delete>


    <!-- 개인 답글 작성자 아이디 조회  -->
    <select id="findIndiReplyId" resultType="com.project.ribbon.domain.post.PostIndiReplyIdResponse">
        SELECT
            individualreplyid
        FROM
            individualreply
        ORDER BY individualreplyid DESC limit 1
    </select>


    <!-- 개인 답글 정보 조회  -->
    <select id="findByIndiReplyInherentId" resultType="com.project.ribbon.domain.post.PostIndiReplyResponse">
        SELECT
            description,writedate,individualreply.userid,user.nickname,
            inherentid,individualreplyid,inherentcommentsid,isrecomment,
            profileimage
        FROM individualreply
        LEFT JOIN user
        ON user.userid = individualreply.userid
        WHERE inherentid = #{inherentid}
    </select>

    <!-- 개인 답글 작성 -->
    <insert id="saveIndiReply" parameterType="com.project.ribbon.domain.post.PostIndiReplyRequest"
            useGeneratedKeys="true" keyProperty="individualreplyid">
        INSERT INTO individualreply (
        <include refid="postIndividualReplyColumns" />
        ) VALUES (
        #{description}
        , #{writedate}
        , #{userid}
        , #{nickname}
        , #{inherentid}
        , #{individualreplyid}
        , #{inherentcommentsid}
        , 1
        )

    </insert>

    <!-- 개인 답글 갯수 카운트 +1 -->
    <update id="updateIndiReplyCount" parameterType="com.project.ribbon.domain.post.PostIndiReplyRequest">

        UPDATE individualwrite SET commentcount = commentcount + 1 WHERE individualid = #{inherentid}

    </update>
    <!-- 개인 답글 갯수 카운트 -1 -->
    <update id="updateDeleteIndiReplyCount" parameterType="com.project.ribbon.domain.post.PostIndiReplyRequest">

        UPDATE individualwrite SET commentcount = commentcount - 1 WHERE individualid = #{inherentid}

    </update>

    <!-- 개인 답글 수정 -->
    <update id="updateIndiReply" parameterType="com.project.ribbon.domain.post.PostIndiReplyRequest">
        UPDATE individualreply
        SET
            description = #{description}
          , nickname = #{nickname}
          , writedate = #{writedate}
        WHERE
            individualreply = #{individualreplyid}
    </update>



    <!-- 개인 답글 정보 삭제 -->
    <delete id="deleteIndiReply" >
        DELETE
        FROM
            individualreply
        WHERE individualreplyid = #{individualreplyid}
    </delete>


    <!-- 중고 댓글 작성자 아이디 조회  -->
    <select id="findUsedCommentsId" resultType="com.project.ribbon.domain.post.PostUsedCommentsIdResponse">
        SELECT
            usedcommentsid
        FROM
            usedcomments
        ORDER BY usedcommentsid DESC limit 1
    </select>


    <!-- 중고 댓글 정보 조회  -->
    <select id="findByUsedInherentId" resultType="com.project.ribbon.domain.post.PostUsedCommentsResponse">
        SELECT
            description,usedcomments.userid,user.nickname,inherentid,
            writedate,usedcommentsid,isrecomment,profileimage
        FROM usedcomments
        LEFT JOIN user
        ON user.userid = usedcomments.userid
        WHERE inherentid = #{inherentid}
    </select>


    <!-- 중고 댓글 작성 -->
    <insert id="saveUsedComments" parameterType="com.project.ribbon.domain.post.PostUsedCommentsRequest"
            useGeneratedKeys="true" keyProperty="usedcommentsid">
        INSERT INTO usedcomments (
        <include refid="postUsedCommentsColumns" />
        ) VALUES (
        #{description}
        , #{userid}
        , #{nickname}
        , #{inherentid}
        , #{writedate}
        , #{usedcommentsid}
        , 2
        )

    </insert>

    <!-- 중고 댓글 갯수 카운트 +1 -->
    <update id="updateUsedCommentsCount" parameterType="com.project.ribbon.domain.post.PostUsedCommentsRequest">

        UPDATE usedwrite SET commentcount = commentcount + 1 WHERE usedid = #{inherentid}

    </update>
    <!-- 중고 댓글 갯수 카운트 -1 -->
    <update id="updateDeleteUsedCommentsCount" parameterType="com.project.ribbon.domain.post.PostUsedCommentsRequest">

        UPDATE usedwrite SET commentcount = commentcount - 1 WHERE usedid = #{inherentid}

    </update>


    <!-- 중고 댓글 수정 -->
    <update id="updateUsedComments" parameterType="com.project.ribbon.domain.post.PostUsedCommentsRequest">
        UPDATE usedcomments
        SET
            description = #{description}
          , nickname = #{nickname}
          , writedate = #{writedate}
        WHERE
            usedcommentsid = #{usedcommentsid}
    </update>


    <!-- 중고 댓글 정보 삭제 -->
    <delete id="deleteUsedComments" >
        DELETE
        FROM
            usedcomments
        WHERE usedcommentsid = #{usedcommentsid}
    </delete>


    <!-- 중고 답글 작성자 아이디 조회  -->
    <select id="findUsedReplyId" resultType="com.project.ribbon.domain.post.PostUsedReplyIdResponse">
        SELECT
            usedreplyid
        FROM
            usedreply
        ORDER BY usedreplyid DESC limit 1
    </select>


    <!-- 중고 답글 정보 조회  -->
    <select id="findByUsedReplyInherentId" resultType="com.project.ribbon.domain.post.PostUsedReplyResponse">
        SELECT
            description,writedate,usedreply.userid,user.nickname,
            inherentid,usedreplyid,inherentcommentsid,isrecomment,
            profileimage
        FROM usedreply
        LEFT JOIN user
        ON user.userid = usedreply.userid
        WHERE inherentid = #{inherentid}
    </select>


    <!-- 중고 답글 작성 -->
    <insert id="saveUsedReply" parameterType="com.project.ribbon.domain.post.PostUsedReplyRequest"
            useGeneratedKeys="true" keyProperty="usedreplyid">
        INSERT INTO usedreply (
        <include refid="postUsedReplyColumns" />
        ) VALUES (
        #{description}
        , #{writedate}
        , #{userid}
        , #{nickname}
        , #{inherentid}
        , #{usedreplyid}
        , #{inherentcommentsid}
        , 1
        )

    </insert>

    <!-- 중고 답글 갯수 카운트 +1 -->
    <update id="updateUsedReplyCount" parameterType="com.project.ribbon.domain.post.PostUsedReplyRequest">

        UPDATE usedwrite SET commentcount = commentcount + 1 WHERE usedid = #{inherentid}

    </update>
    <!-- 중고 답글 갯수 카운트 -1 -->
    <update id="updateDeleteUsedReplyCount" parameterType="com.project.ribbon.domain.post.PostUsedReplyRequest">

        UPDATE usedwrite SET commentcount = commentcount - 1 WHERE usedid = #{inherentid}

    </update>


    <!-- 중고 답글 수정 -->
    <update id="updateUsedReply" parameterType="com.project.ribbon.domain.post.PostUsedReplyRequest">
        UPDATE usedreply
        SET
            description = #{description}
          , nickname = #{nickname}
          , writedate = #{writedate}
        WHERE
            usedreply = #{usedreplyid}
    </update>



    <!-- 중고 답글 정보 삭제 -->
    <delete id="deleteUsedReply" >
        DELETE
        FROM
            usedreply
        WHERE usedreplyid = #{usedreplyid}
    </delete>



    <!-- 특정 유저 프로필 조회  -->
    <select id="findById" parameterType="Long" resultType="com.project.ribbon.domain.post.UserInfoResponse">
        SELECT
        nickname,gender,profileimage,userid
        FROM
        user
        WHERE
        userid = #{userid}
    </select>


    <!-- 커뮤니티 내가 쓴 글  -->
    <select id="findByMyUserId" parameterType="Long" resultType="com.project.ribbon.domain.post.PostMyBoardResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
                 LEFT JOIN user
                           ON user.userid=boardwrite.userid
        WHERE
            boardwrite.userid = #{userid}
    </select>


    <!-- 단체 내가 쓴 글  -->
    <select id="findByMyGroupUserId" parameterType="Long" resultType="com.project.ribbon.domain.post.PostMyGroupResponse">
        SELECT
            id,region,title,line,description,peoplenum,
            groupwrite.gender,minage,titleimage,groupwrite.userid,maxage,
            writedate,peoplenownum,user.nickname,groupid,once,commentcount,profileimage
        FROM
            groupwrite
        LEFT JOIN user
        ON user.userid = groupwrite.userid
        WHERE
            groupwrite.userid = #{userid}
    </select>


    <!-- 개인 내가 쓴 글  -->
    <select id="findByMyIndividualUserId" parameterType="Long" resultType="com.project.ribbon.domain.post.PostMyIndiResponse">
        SELECT
            id,region,meetdate,title,description,individualwrite.gender,
            individualwrite.userid,writedate,maxage,minage,user.nickname,
            individualid,likedcount,commentcount,profileimage
        FROM
            individualwrite
                LEFT JOIN user
                          ON user.userid = individualwrite.userid
        WHERE
            individualwrite.userid = #{userid}
    </select>


    <!-- 중고 내가 쓴 글  -->
    <select id="findByMyUsedUserId" parameterType="Long" resultType="com.project.ribbon.domain.post.PostMyUsedResponse">
        SELECT
           id,region,title,description,usedimage1,price,usedwrite.userid,
           writedate,user.nickname,usedid,usedimage2,usedimage3,usedimage4,
           usedimage5,likedcount,commentcount,profileimage
        FROM
            usedwrite
        LEFT JOIN user
        ON user.userid = usedwrite.userid
        WHERE
            usedwrite.userid = #{userid}
    </select>


    <!-- 내가 좋아요 누른 글 커뮤니티 -->
    <select id="findByMyLikedUserId" parameterType="Long" resultType="com.project.ribbon.domain.post.PostMyLikedResponse">
        SELECT
            id,boardwrite.userid,title,description,img,writedate,user.nickname,
            boardid,likedcount,commentcount,profileimage
        FROM boardwrite
            LEFT JOIN liked
           ON liked.inherentid=boardwrite.boardid
            LEFT JOIN user
            ON user.userid = boardwrite.userid
            WHERE liked.userid = #{userid}
    </select>


    <!-- 내가 좋아요 누른 글 개인 -->
    <select id="findByMyIndividualLikedUserId" parameterType="Long" resultType="com.project.ribbon.domain.post.PostMyIndividualLikedResponse">
        SELECT
            id,region,meetdate,title,description,individualwrite.gender,
            individualwrite.userid,writedate,maxage,minage,user.nickname,
            individualid,likedcount,commentcount,profileimage
        FROM
            individualwrite
                LEFT JOIN individualliked
                    ON individualliked.inherentid=individualwrite.individualid
                LEFT JOIN user
                    ON user.userid = individualwrite.userid
        WHERE individualliked.userid = #{userid}
    </select>


    <!-- 내가 좋아요 누른 글 중고 -->
    <select id="findByMyUsedLikedUserId" parameterType="Long" resultType="com.project.ribbon.domain.post.PostMyUsedLikedResponse">
        SELECT
            id,region,title,description,usedimage1,price,usedwrite.userid,
            writedate,user.nickname,usedid,usedimage2,usedimage3,usedimage4,
            usedimage5,likedcount,commentcount,profileimage
        FROM
            usedwrite
                LEFT JOIN usedliked
                    ON usedliked.inherentid=usedwrite.usedid
                LEFT JOIN user
                    ON user.userid = usedwrite.userid
        WHERE usedliked.userid = #{userid}
    </select>



</mapper>
