@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
a{
    color: #84dbb8;
    text-decoration: none;
    padding: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}
h1{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100px;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid coral;
    padding: 50px;
    color: #84dbb8;
}
body {
    margin: 0;
    text-align:center;
    color: #84dbb8;
    font-size: 30px;
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    height: 100%;
}
p{
    margin: 0;
}

#grid ol{
    margin: 0;
    padding: 20px;
    width: 100px;
}


#grid{
    display: grid;
    grid-template-columns: 100px 1fr;
    text-align: center;
}

@media (min-width: 450px) {
    #grid{
        display: block;
    }
    #grid ol{
        border-right: none;
    }
    h1{
        border-bottom: none;
    }
}
#article{
    padding-left: 25px;
}
