<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Used Report</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #ccc;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
<h1>Used Report</h1>
<button type="button" onclick="deleteSelectedUseds()">Delete Selected Used Report</button>
<table>
  <thead>
  <tr>
    <th><input type="checkbox" id="selectAll"/></th>
    <th>Report Used ID</th>
    <th>Report User ID</th>
    <th>Report Title</th>
    <th>Report Description</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="used : ${usedList}">
    <td><input type="checkbox" name="selectedUseds" th:value="${used.getUsedid()}" onclick="selectRow(this)"/></td>
    <td th:text="${used.getUsedid()}"></td>
    <td th:text="${used.getUserid()}"></td>
    <td th:text="${used.getTitle()}"></td>
    <td th:text="${used.getDescription()}"></td>
  </tr>
  </tbody>
</table>
<script>
  // select all checkboxes when "select all" checkbox is clicked
  const selectAllCheckbox = document.getElementById('selectAll');
  const checkboxes = document.getElementsByName('selectedUseds');
  selectAllCheckbox.addEventListener('click', function() {
    for (let i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = selectAllCheckbox.checked;
    }
  });
  function selectRow(checkbox) {
    const inputs = checkbox.parentNode.parentNode.getElementsByTagName('input');
    for (let i = 0; i < inputs.length; i++) {
      if (inputs[i].type === 'checkbox') {
        inputs[i].checked = checkbox.checked;
      }
    }
  }
  function deleteSelectedUseds() {
    const selectedUseds = Array.from(document.getElementsByName('selectedUseds'))
            .filter(checkbox => checkbox.checked)
            .map(checkbox => ({ "usedid": checkbox.value }));
    if (selectedUseds.length === 0) {
      alert('Please select at least one usedid.');
      return;
    }
    if (confirm('정말로 삭제하시겠습니까?')) {
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/ribbon/admin/post/reportuseddelete');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify(selectedUseds));
      xhr.onload = function() {
        if (xhr.status === 200) {
          window.location.reload();
        }
      }
    }
  }

</script>
</body>
</html>
