<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Group Report</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #ccc;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
<h1>Group Report</h1>
<button type="button" onclick="deleteSelectedGroups()">Delete Selected Group Report</button>
<table>
  <thead>
  <tr>
    <th><input type="checkbox" id="selectAll"/></th>
    <th>Report Group ID</th>
    <th>Report User Id</th>
    <th>Report Title</th>
    <th>Report Description</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="group : ${groupList}">
    <td><input type="checkbox" name="selectedGroups" th:value="${group.getGroupid()}" onclick="selectRow(this)"/></td>
    <td th:text="${group.getGroupid()}"></td>
    <td th:text="${group.getUserid()}"></td>
    <td th:text="${group.getTitle()}"></td>
    <td th:text="${group.getDescription()}"></td>
  </tr>
  </tbody>
</table>
<script>
  // select all checkboxes when "select all" checkbox is clicked
  const selectAllCheckbox = document.getElementById('selectAll');
  const checkboxes = document.getElementsByName('selectedGroups');
  selectAllCheckbox.addEventListener('click', function() {
    for (let i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = selectAllCheckbox.checked;
    }
  });
  function selectRow(checkbox) {
    const inputs = checkbox.parentNode.parentNode.getElementsByTagName('input');
    for (let i = 0; i < inputs.length; i++) {
      if (inputs[i].type === 'checkbox') {
        inputs[i].checked = checkbox.checked;
      }
    }
  }
  function deleteSelectedGroups() {
    const selectedGroups = Array.from(document.getElementsByName('selectedGroups'))
            .filter(checkbox => checkbox.checked)
            .map(checkbox => ({ "groupid": checkbox.value }));
    if (selectedGroups.length === 0) {
      alert('Please select at least one user.');
      return;
    }
    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/ribbon/admin/post/reportgroupdelete');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify(selectedGroups));
    xhr.onload = function() {
      if (xhr.status === 200) {
        window.location.reload();
      }
    }
  }

</script>
</body>
</html>
