<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Administrator Report</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Administrator Report</h1>-->
<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>UserID</th>-->
<!--    <th>Description</th>-->
<!--    <th>Email</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr th:each="user : ${userList}">-->
<!--    <td th:text="${user.getUserid()}"></td>-->
<!--    <td th:text="${user.getDescription()}"></td>-->
<!--    <td th:text="${user.getEmail()}"></td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Report</title>
</head>
<body>
<h1>Welcome to Admin Report Page!</h1>
</body>
</html>

