<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>맺음 신고 페이지</title>
</head>
<body>
<h1>맺음 신고들</h1>
<h2><a href="/ribbon/admin/boardlogin">커뮤니티글 신고</a></h2>
<h2><a href="/ribbon/admin/individuallogin">개인글 신고</a></h2>
<h2><a href="/ribbon/admin/grouplogin">단체글 신고</a></h2>
<h2><a href="/ribbon/admin/usedlogin">중고글 신고</a></h2>
<h2><a href="/ribbon/admin/commentslogin">커뮤니티댓글 신고</a></h2>
<h2><a href="/ribbon/admin/individualcommentslogin">개인댓글 신고</a></h2>
<h2><a href="/ribbon/admin/groupcommentslogin">단체댓글 신고</a></h2>
<h2><a href="/ribbon/admin/usedcommentslogin">중고댓글 신고</a></h2>
<h2><a href="/ribbon/admin/userlogin">유저신고</a></h2>
</body>
</html>
