<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>JSON 요청 보내기</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $("form").submit(function (event) {
        event.preventDefault();
        var secrettoken = $("#secrettoken").val();
        var json = {
          "secrettoken": secrettoken
        };
        $.ajax({
          url: "http://192.168.219.161:8000/api/ribbon",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(json),
          success: function (result) {
            console.log(result);
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text);
          }
        });
      });
    });
  </script>
</head>
<body>
<form>
  <label for="secrettoken">Secret Token:</label>
  <input type="text" id="secrettoken" name="secrettoken"><br><br>
  <button type="submit">Submit</button>
</form>
</body>
</html>
